<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='/bower_components/jquery/dist/jquery.js'></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id='mapDiv'></div>
    <button>지도 생성</button>
    <button id="login">회원가입 / 로그인</button>
    <script>
      //osakaCastle = 34.687099, 135.526099
      //dotonbori = 34.669028, 135.502692

      var mapsRef = new Firebase('https://crackling-inferno-7919.firebaseio.com/maps/');

      mapsRef.on('child_added', function(snapshot) {
        var mapKey = snapshot.key();
        var mapVal = snapshot.val();
        displayMapList(mapKey, mapVal);
      });

      function displayMapList(mapKey, mapVal) {
        var mapUrl = location.href + 'maps/' + mapKey;
        $map = $('<a/>').text(mapVal.name).attr('href', mapUrl);
        $('<div>').prepend($map).appendTo('#mapDiv');
      };

      $('#login').on('click', function() {
        location.href = '/login';
      });
    </script>
  </body>
</html>
