<!DOCTYPE html>
<html>
    <head>
        <title>[<%= mapId %>]</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    </head>
    <body>
        <div id="map"></div>
        <div id='messagesDiv'></div>
        <input type='text' id='nameInput' placeholder='Name'>
        <input type='text' id='messageInput' placeholder='Message'>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATvoQ3cUVMoVKggJBh9WYScvaW8d759H0"></script>
        <script>
        var mapRef = new Firebase('https://crackling-inferno-7919.firebaseio.com/maps/' + '<%= mapId %>');
        var messageRef = mapRef.child('messages');

        $('#messageInput').keypress(function (e) {
        if (e.keyCode == 13) {
            var name = $('#nameInput').val();
            var text = $('#messageInput').val();
            messageRef.push({name: name, text: text});
            $('#messageInput').val('');
        }
        });

        messageRef.on('child_added', function(snapshot) {
            var message = snapshot.val();
            displayChatMessage(message.name, message.text);
        });

        function displayChatMessage(name, text) {
            $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
            $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
        };


//==================================================================
//  MAP 관련
//==================================================================
        mapRef.once('value', function(snapshot) {
            var data = snapshot.exportVal();
            console.log(data);

            //        snapshot.forEach(function(childSnapshot) {
            //          var key = childSnapshot.key();
            //          if(key == 'name') {
            //            name = childSnapshot.val();
            //          } else if(key == 'lat') {
            //            lat = childSnapshot.val();
            //          } else if(key == 'lng') {
            //            lng = childSnapshot.val();
            //          }
            //        });

            // 구글맵 초기화
            initMap(data);
        });

        var map;

        function initMap(data) {
            var pos = {
                lat: parseFloat(data.lat),
                lng: parseFloat(data.lng)
            };

            map = new google.maps.Map(document.getElementById('map'), {
                center: pos,
                zoom: 15
            });

            var infoWindow = new google.maps.InfoWindow({map: map});
            infoWindow.setPosition(pos);
            infoWindow.setContent(data.name);
            //        map.setCenter(pos)

            showMakers();
        }

        function showMakers() {
            var dmcStation = {lat: 37.575313, lng: 126.900000};
            var enm = {lat: 37.578308, lng: 126.891684};
            var starbucks = {lat:37.581594, lng: 126.890530};

            var locations = [];
            locations.push(dmcStation);
            locations.push(enm);
            locations.push(starbucks);

            for(var locationIndex in locations) {
                showMaker(locations[locationIndex]);
            }
        }

        function showMaker(pos) {
            var marker = new google.maps.Marker({map: map, position: pos});
        }
    </script>
  </body>
</html>